#header{
    background-color: cornsilk;
    color: firebrick;
}

#header h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 30px 30px 10px;
    clear: both;
}

#navigation {
    background-color: antiquewhite;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#navigation li {
    float: left;
    list-style: none;
}

#navigation a {
    display: block;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    border-right: 1px solid #ccc;
}

#navigation li:last-child a {
    border-right: none;
}

#navigation a:hover {
    font-weight: bold;
    color: brown;
}

#navigation:after {
    content: " ";
    display: table;
    clear: both;
}

#navigation ul {
    max-width: 1200px;
    margin: 0 auto;
}

#sidebarleft {
    float: left;
    width: 20%;
    padding: 0 10px 0 20px;
}

#sidebarright {
    float: right;
    width: 20%;
    padding: 0 20px 0 10px;
}

#article{
    background-color: #fafafa;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    width: 60%;
}

#article:after{
    clear:both;
    display:table;
    content:'';
}

#article h2{
    font-size: 1.3em;
    margin-bottom:15px;
    text-align: center;
}

#article p{
    line-height: 150%;
    margin-bottom: 15px;
    text-align: justify;
}

#footer{
    border-top: 1px solid #ccc;
    font-size: .8em;
    text-align: center;
    padding: 10px 10px 30px 10px;
}

#header h1, .wrapper, #footer p {
    max-width: 1200px;
    margin: 0 auto;
}

#counterfeit–°ontrol {
    border-top: 1px solid #ccc;
    font-size: 1.3em;
    text-align: center;
}

#nameUser{
    margin-right: 10px;
    text-align: right;
}